<br>
<div class="container">
    <h4 class="text-center">Consulta de empleados</h4>
    <hr>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Primer nombre</th>
                <th scope="col">Otros nombres</th>
                <th scope="col">Primer apellido</th>
                <th scope="col">Correo electronico</th>
                <th class="text-center" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of ArregloEmpleados | paginate: { itemsPerPage: 10, currentPage: page }">
                <td>{{empleado.primerNombre}}</td>
                <td>{{empleado.otrosNombres}}</td>
                <td>{{empleado.primerApel}}</td>
                <td>{{empleado.correo | lowercase}}</td>
                <td class="text-center">
                    <button class="btn btn-danger" (click)="AbreModalElimina(templateconfirma, empleado.id)">Eliminar</button>
                </td>
            </tr>
            <tr *ngIf="ArregloEmpleados.length==0">
                <td colspan="5">
                    <h6 class="text-center">No se encuentran usuarios registrados</h6>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"
            class="col-sm-4"></pagination-controls>
    </div>
</div>
<ng-template #templateconfirma let-modal>
    <div class="p-2">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="mt-4 mb-4 text-center">
            <div>¿Está seguro de que desea eliminar el empleado?</div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-danger col-sm-3 m-1" (click)="EliminaEmpleado()">Si</button>
            <button type="button" class="btn btn-primary col-sm-3 m-1" (click)="modal.dismiss('Cross click')">No</button>
        </div>
    </div>
</ng-template>