<header class="dark p-2">
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <img src="../../../assets/resources/Logo.png" class="ImgLogo">
        </div>
        <div class="col-sm-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active" routerLink="consulta-empleado">Consulta Empleados</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active" routerLink="registro-empleado">Registro Empleados</a>
                </li>
            </ul>
        </div>
    </div>
</header>
