<br>
<div class="container">
    <h4 class="text-center">Registro de empleados</h4>
    <hr>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form (ngSubmit)="GuardaEmpleado()" #formEmpleados = "ngForm">
                <div class="form-group m-1">
                    <label class="m-1">Nombre:</label>
                    <input class="form-control m-1" type="text" name="nombre" id="nombre"
                        [(ngModel)]="empleado.primerNombre"
                        (change)="empleado.primerNombre=empleado.primerNombre.trim()" maxlength="20" required
                        #nombre="ngModel" placeholder="Digite el nombre del empleado" pattern="[A-Z\s]*">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            Digite el nombre por favor.
                        </div>
                        <div *ngIf="nombre.errors.pattern">
                            El nombre debe estar en mayusculas y sin caracteres especiales.
                        </div>
                    </div>
                </div>
                <div class="form-group m-1">
                    <label class="m-1">Otros Nombres:</label>
                    <input class="form-control m-1" type="text" name="otronombre" id="otronombre"
                        [(ngModel)]="empleado.otrosNombres"
                        (change)="empleado.otrosNombres=empleado.otrosNombres.trim()" maxlength="50"
                        placeholder="Digite otros nombres" pattern="[A-Z]*" #otrosnom = "ngModel">
                    <div class="alert alert-danger" *ngIf="otrosnom.invalid && (otrosnom.dirty || otrosnom.touched)">
                        <div *ngIf="otrosnom.errors.pattern">
                            Los otros nombres deben estar en mayusculas, sin espacio y sin caracteres especiales.
                        </div>
                    </div>
                </div>
                <div class="form-group m-1">
                    <label class="m-1">Apellido:</label>
                    <input class="form-control m-1" type="text" name="apellido" id="apellido"
                        [(ngModel)]="empleado.primerApel" (change)="empleado.primerApel=empleado.primerApel.trim()"
                        maxlength="20" required placeholder="Digite el apellido del empleado" #apellido="ngModel"
                        pattern="[A-Z\s]*">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            Digite el apellido por favor.
                        </div>
                        <div *ngIf="apellido.errors.pattern">
                            El apellido debe estar en mayusculas y sin caracteres especiales.
                        </div>
                    </div>
                </div>
                <div class="form-group m-1">
                    <label class="m-1">Pais del empleo:</label>
                    <select [(ngModel)]="empleado.pais" name="pais" id="pais" class="form-control m-1" #pais="ngModel" required>
                        <option value="0">Colombia</option>
                        <option value="1">Estados unidos</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="pais.invalid && (pais.dirty || pais.touched)">
                        <div *ngIf="pais.errors.required">
                            Digite el pais por favor.
                        </div>                        
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <button class="btn btn-primary col-sm-3" [disabled]="!formEmpleados.form.valid">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>



</div>